@model StajBasvuru2.Models.BasvuruStajbilgi

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BasvuruStajbilgi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zorunlustaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zorunlustaj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stajtur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stajtur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stajsure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stajsure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stajsuretipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stajsuretipi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stajdonem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stajdonem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stajyaptimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stajyaptimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TcnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TcnoNavigation.Tcno)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Tcno" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
