@model StajBasvuru2.Models.BasvuruReferans

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>BasvuruReferans</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calisanakraba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calisanakraba)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yakinlikderecesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yakinlikderecesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referansadsoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referansadsoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referanstelefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referanstelefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referansemail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referansemail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referansbolum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referansbolum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ekstrabilgi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ekstrabilgi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TcnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TcnoNavigation.Tcno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Tcno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
