@model IEnumerable<StajBasvuru2.Models.BasvuruReferans>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Calisanakraba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yakinlikderecesi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referansadsoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referanstelefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referansemail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referansbolum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ekstrabilgi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TcnoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Calisanakraba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yakinlikderecesi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referansadsoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referanstelefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referansemail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referansbolum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ekstrabilgi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TcnoNavigation.Tcno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Tcno">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Tcno">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Tcno">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
